a {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: var(--shadow-xs);
    transition: 300ms;
}

.primary {
    color: var(--neutral-900);
    background-color: var(--primary-300);
}

.primary:hover {
    background-color: var(--primary-400);
    box-shadow: var(--shadow-s);
}

.primary:active {
    box-shadow: none;
}