.primary, .accent, .neutral {
    display: block;
    width: fit-content;
    font-size: var(--type-xs);
    color: white;
    text-decoration: none;
    padding: 16px 24px;
    margin: 24px 0;
    border-radius: 10px;
    box-shadow: var(--shadow-xs);
    transition: 300ms;
    will-change: transform;
}

.primary {
    background-color: var(--primary-600);
}

.primary:hover {
    background-color: var(--primary-500);
    box-shadow: var(--shadow-s);
    transform: translateY(-1px);
    text-decoration: none;
}

.accent {
    background-color: var(--accent-600);
}

.accent:hover {
    background-color: var(--accent-500);
    box-shadow: var(--shadow-s);
    transform: translateY(-1px);
    text-decoration: none;
}

.neutral {
    background-color: var(--neutral-200);
    color: var(--neutral-900);
}

.neutral:hover {
    background-color: var(--neutral-300);
    box-shadow: var(--shadow-s);
    transform: translateY(-1px);
    text-decoration: none;
}

.primary:active, .accent:active, .neutral:active {
    transition: 5ms;
    box-shadow: none;
    transform: translateY(1px);
}