a {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: var(--shadow-s);
    transition: 300ms;
}

a:active {
    box-shadow: none;
}

.primary {
    color: var(--neutral-900);
    background-color: var(--accent-300);
}

.primary:hover {
    background-color: var(--accent-500);
}