.container {
    width: min(1600px, 90%);
    /* TEMPORARY */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    grid-gap: 48px;
    justify-content: center;
}