.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.container h2 {
    text-align: center;
}

.form {
    max-width: 600px;
    margin: auto;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}

.form label {
    padding-left: 4px;
}

.form input[type="text"], .form input[type="email"], .form textarea {
    padding: 16px 12px;
    border-radius: 10px;
    border: 1px solid var(--primary-500);
    margin: 8px 0 16px 0;
    font-size: var(--type-xxs);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, .24) inset;
}

.form input[type="submit"] {
    padding: 16px 12px;
    border-radius: 10px;
    background-color: var(--primary-500);
    border: none;
    color: white;
    font-size: var(--type-xs);
    box-shadow: var(--shadow-xs);
    cursor: pointer;
    transition: all 300ms;
}

.form input[type="submit"]:hover {
    background-color: var(--primary-400);
    transform: translateY(-1px);
}