.container {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 8px 0;
}

.section h1 {
    font-size: var(--type-xxl);
    margin: 24px 0;
    line-height: 1.25em;
}

.section h2 {
    margin: 24px 0;
    font-size: var(--type-xs);
    font-weight: 400;
    width: 90%;
}

@media only screen and (min-width: 600px) {
    .container {
        padding: 32px 0;
    }
}