.section {
}

.container {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 64px 0;
}

.section h1 {
    font-size: var(--type-xxl);
    margin: 24px 0;
    line-height: 1.25em;
}

.section h2 {
    margin: 24px 0;
    font-size: var(--type-s);
    font-weight: 500;
    width: 90%;
}