.backgroundSection {
    background-color: var(--neutral-100);
}

.narrowContainer {
    width: min(90%, 800px);
    margin: auto;
}

.pitch {
    font-size: var(--type-m);
    font-weight: 600;
    padding: 24px;
    margin: 32px 0;
    border-top: 1px solid var(--neutral-500);
    border-bottom: 1px solid var(--neutral-500);
}

.container {
    width: min(90%, 1200px);
    margin: auto;
}

.client {
    background-color: var(--neutral-100);
    border-radius: 10px;
    padding: 24px;
    box-shadow: var(--shadow-s);
    transition: 300ms;
    will-change: transform;
}

.client:hover {
    box-shadow: var(--shadow-m);
    transform: translateY(-5px);
}

.item {
    background-color: var(--primary-200);
    color: var(--primary-900);
    font-weight: 600;
    padding: 10px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client h4 {
    font-size: var(--type-s);
    margin: 16px 0;
}

.clientContainer {
    display: grid;
    grid-gap: 48px;
}

@media only screen and (min-width: 600px) {
    .container h3 {
        text-align: center;
    }

    .clientContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 64px;
    }

    .pitch {
        padding: 48px;
        line-height: 1.2;
        margin: 48px 0;
    }
}