.backgroundSection {
    padding-top: 0;
}

.narrowContainer {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.client {
    background-color: var(--neutral-100);
    border-radius: 10px;
    padding: 24px;
}

.item {
    background-color: var(--primary-100);
    color: var(--primary-900);
    font-weight: 600;
    padding: 10px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client h4 {
    font-size: var(--type-s);
    margin: 16px 0;
}

.clientContainer {
    display: grid;
    grid-gap: 48px;
}

@media only screen and (min-width: 600px) {
    .container h3 {
        text-align: center;
    }

    .clientContainer {
        grid-template-columns: 1fr 1fr;
        grid-gap: 64px;
    }
}