.section {
    background-color: var(--primary-100);
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.container h2 {
    text-align: center;
}

.detail h3 {
    font-size: var(--type-s);
    font-weight: 500;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 900px) {
    .detail ul {
        columns: 2 auto;
    }
}