.header {
    width: 100%;
    padding: 8px;
}

.nav {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    display: inline-block;
    padding: 16px;
    margin: 0 4px;
    font-size: var(--type-xs);
    text-decoration: none;
    color: inherit;
}

.nav a:hover {
    color: var(--primary-500);
}