.section {
    padding: 96px 0;
}

.container {
    width: min(100%, 1000px);
    margin: auto;
}

.surround {
    background-color: var(--accent-400);
    padding: 16px;
    background-image: url('../../images/gideon.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.contentBox {
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    margin: 70vw auto 0 auto;
}

.contentBox h3 {
    color: var(--primary-700);
    margin: 24px 0;
}

.contentBox p {
    margin: 24px 0;
}

@media only screen and (min-width: 700px) {
    .container {
        width: min(90%, 1000px);
    }

    .surround {
        padding: 24px;
        border-radius: 10px;
        background-position: left;
    }

    .contentBox {
        padding: 24px;
        margin: 0 0 0 256px;
    }
}