.section {
    width: 100%;
    background-color: var(--primary-200);
}

.section h2 {
    text-align: center;
    width: 75%;
    margin: 16px auto 32px auto;
    color: var(--primary-800);
}

.container {
    width: min(90%, 800px);
    margin: 0 auto 48px auto;
    background-color: white;
    color: var(--primary-900);
    padding: 24px;
    box-shadow: var(--shadow-s);
    border-top: 8px solid var(--accent-500);
    border-radius: 0 0 10px 10px;
}

.quote:before {
    content: open-quote;
    font-size: var(--type-xl);
    position: relative;
    line-height: 0;
    top: 16px;
}

.quote:after {
    content: close-quote;
    font-size: var(--type-xl);
    position: relative;
    top: 12px;
    line-height: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;
}

.quote p {
    padding: 0 16px;
    font-size: var(--type-xs);
    font-weight: 500;
}

.client p {
    text-align: right;
    font-size: var(--type-xs);
    font-weight: 300;
}

@media only screen and (min-width: 700px) {
    .container {
        padding: 48px;
    }

    .client {
        margin-right: 5%;
    }
}