.section {
    width: 100%;
    background-color: var(--primary-600);
    color: white;
}

.section h2 {
    text-align: center;
    width: 75%;
    margin: 16px auto 32px auto;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 800px;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 24px;
    border-radius: 10px;
}

.quote:before {
    content: open-quote;
    font-size: var(--type-xl);
    position: relative;
    line-height: 0;
    top: 16px;
}

.quote:after {
    content: close-quote;
    font-size: var(--type-xl);
    position: relative;
    top: 12px;
    line-height: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;
}

.quote p {
    line-height: 24px;
    padding: 0 16px;
    font-size: var(--type-xs);
}

.client p {
    text-align: right;
    font-size: var(--type-xs);
}

@media only screen and (min-width: 700px) {
    .container {
        padding: 48px;
    }

    .client {
        margin-right: 5%;
    }
}