.footerBottom {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 100px;
    border-top: 1px solid var(--neutral-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footerBottom p {
    font-size: var(--type-xxs);
    margin: 8px 0;
}

@media only screen and (min-width: 600px) {
    .footerBottom {
        height: 80px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
}