.footer {
    margin-top: 48px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.footerBottom {
    padding: 16px 0;
    border-top: 1px solid var(--neutral-200);
}

.footerBottom p {
    font-size: var(--type-xxs);
}

@media only screen and (min-width: 600px) {
    .footerBottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}